div#container{
    border : 3px solid green;
    background-color: antiquewhite;
    padding : 1%;

    /* 화면 중앙 배치 */
    margin : 0 auto; 
}
div#container > img#main_logo{
    width: 50px;
    float:left;
    margin: 10px 5px;
}
div#container > h5#top_menu{
    float : right;
    margin : 0 35px 0 0;
}
div#container > h5#top_menu > a{
    text-decoration: none;
}
div#container > h5#top_menu > a:hover{
    text-decoration-line: underline;
}

header#header{
    width: 95%;
    border : 3px solid green;
    background-color: deepskyblue;
    padding: 1%;

    /* 아래 요소와의 간격 */
    margin-bottom: 5px;

    /* 상단 float 해제 */
    clear: both;
}

header#header > img#banner_logo{
    width: 250px;
    margin: 0 15px;
}
nav#menubar{
    width: 95%;
    border : 3px solid green;
    background-color: cadetblue;
    padding: 1%;
    margin: 0 0 10px 0;
    
    /* 아래 요소와의 간격 */
    margin-bottom: 5px;
}

/* 메인메뉴 효과 설정 */
nav#menubar > ul {
    padding-left: 0;
    margin: 0 0 0 0.005%;
}

nav#menubar > ul > li {
    display: inline;
    margin: 0 0 0 3%;
    width : 80px;
}

nav#menubar > ul > li > a {
    color : white;
    text-decoration: none;
}

nav#menubar > ul > li > a:hover {
    color : blueviolet;
    font-size: large;
    text-decoration: none;
    text-shadow: 2px 1px 1px white;
}

section#weather{
    width : 95%;
    height : 200px;
    display: flex;
    padding: 1%;
    border: 3px solid green;
    background-color: aquamarine;
    margin: 0 0 10px 0;
}

section#weather > article#main {
    border: 2px dotted green;
    width: 80%;
}
section#weather > article#keyword {
    border: 2px dotted green;
    width: 20%;
}

section#middle{
    width: 95%;
    display: flex;
    padding: 0 1%;
    border: 3px solid purple;
    
    height: 450px;
}

section#best{
    width: 95%;
    padding: 0 1%;
    border: 3px solid green;
}

table#item{
    width: 100%;
    border: 3px dotted red;
    padding: 5px;
}

td#item_1{
    width: 150px;
    height: 150px;
    border: 3px solid purple;
    margin: 5px;
    text-align: center;
}

aside#side {
    width: 25%;
    height: 400px;
    margin: 0.1% 0.1%;
    border: 3px solid green;
    background-color: darkturquoise;

    /* 화면 오른쪽 정렬 */
    float: right;
}

aside#side > h5 {
    /* 행간 조정 */
    letter-spacing : 0.2em;
}

section#contents {
    width: 73%;
    height: 400px;
    margin: 0.1% 0.1%;
    border: 3px solid green;
    background-color: lightskyblue;

    /* 화면 왼쪽 정렬 */
    float: left;
}

section#example > li {
    list-style-position: inside;
}

div#footer > h4#footer_logo {
    float : right;
}

div#footer > ul#info {
    width: auto;
    float: right;
    width : 100px;
}

div#footer{
    width: 95%;
    height: 200px;
    padding: 1%;
    border: 3px solid green;
    background-color: steelblue;

    /* float 초기화 */
    clear: both;
}

