@charset "UTF-8";

 body{
    background-color: rgb(222, 218, 218);
    font-size: 1em;
    overflow-x: hidden;
}
/*header, */article, aside{
	display: inline-block;
	half-leading: center;    
}
/* header{ 
    width: 100vw;
    height: 5vh;
   	padding: 5px 42%;
   	border: 1px solid black; 
}*/

details{
	visibility: visible;
	half-leading: center;
}
p,h6{
	half-leading: center;
}
#sidebar{
    position: relative;
    left: 75%;
	width: 30vw;
	float: right;
    padding: 10px;
}
.grayText span{
    color: black;
}
.grayText{
    position: relative;
    left: 27%;
    color: gray;
}


div.content{
    position: relative;
    width: 65vw;
    float: left;
}
table.contentTable{
    
    width: 60vw;
    height: 7vh;
    background-color:white ;
}
table.sideTable{
    width: 30vw;
    height: 7vh;
    background-color:white ;
}

table.detailTable{
    height: 4.5vh;
    width: 60vw;
    background-color:white ;
}

table.sideDetailTable{
    height: 4.5vh;
    width: 30vw;
    background-color:white ;
}

table.permitTable{
    height: 3vh;
    width: 60vw;
    background-color:white ;
}

article{
    position: relative;
    left: 2%;
	border: 3px;
}
#btn{
    width: 250px;
    height: 50px;
    position: relative;
    bottom: 5%;
    left: 32%;
}
details{
    height: 4%;
}


